<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Formulário de Música</title>
  </head>
  <body>
    <a th:href="@{/filmes}">Voltar</a>
    <h1
      th:text="${#strings.isEmpty(musica.id) ? 'Nova Música' : 'Editar Música'}"
    ></h1>
    <form th:action="@{/musicas/salvar}" th:object="${musica}" method="post">
      <input type="hidden" th:field="*{id}" />
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" th:field="*{titulo}" /><br />
      <label for="artista">Artista:</label>
      <input type="text" id="artista" th:field="*{artista}" /><br />
      <label for="album">Álbum:</label>
      <input type="text" id="album" th:field="*{album}" /><br />
      <label for="duracao">Duração (segundos):</label>
      <input type="number" id="duracao" th:field="*{duracao}" /><br />
      <button type="submit">Salvar</button>
    </form>
    <!-- <a th:href="@{/musicas}">Voltar</a> -->
  </body>
</html>
