<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Filme</title>
</head>
<body>
  <a th:href="@{/filmes}">Voltar</a>
<h1 th:text="${#strings.isEmpty(filme.id) ? 'Novo Filme' : 'Editar Filme'}"></h1>
<form th:action="@{/filmes/salvar}" th:object="${filme}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" th:field="*{titulo}" /><br/>
    <label for="diretor">Diretor:</label>
    <input type="text" id="diretor" th:field="*{diretor}" /><br/>
    <label for="genero">Gênero:</label>
    <input type="text" id="genero" th:field="*{genero}" /><br/>
    <label for="anoLancamento">Ano:</label>
    <input type="number" id="anoLancamento" th:field="*{anoLancamento}" /><br/>
    <button type="submit">Salvar</button>
</form>
<!-- <a th:href="@{/filmes}">Voltar</a> -->
</body>
</html>