<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Sistema</title>    
    <link th:href="@{/css/styles.css}" rel="stylesheet"> 
</head>
<body>

    <div class="container">
        <h1 th:text="${title}">Bem-vindo ao Sistema!</h1>

        <header th:insert="~{fragments/menu :: menu}"></header>

        <img th:src="@{/images/logo.png}" alt="Logo do Sistema" width="150">

        <footer th:insert="~{fragments/footer :: footer}"></footer>

    </div>
</body>
</html>
